@using Site.Common.Extensions
@* ReSharper disable once Html.PathError *@
@{
    string domainUrl = HttpContext.Current.GetCurrentDomain();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Markus Eriksson</title>
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:image" content="@(ViewBag.ShareImage != null ? ViewBag.ShareImage : $"{domainUrl}/resources/images/social-share.jpg")" />
    <meta property="og:url" content="@domainUrl" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="@ViewBag.Title | Sky Atlantic" />
    <meta name="twitter:description" content="@ViewBag.Description" />
    <meta name="twitter:image" content="@(ViewBag.ShareImage != null ? ViewBag.ShareImage : $"{domainUrl}/resources/images/social-share.jpg")" />
    <script src="~/bundles/jquery"></script>
    <script src="~/bundles/bootstrap"></script>
    <script src="~/Scripts/modernizr.custom.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-flat.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/site.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/normalize.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/demo.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/component.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/megamenu.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @{Html.RenderPartial("_Navbar"); }
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    @{ Html.RenderPartial("_Footer");}
    @RenderSection("scripts", required: false)
</body>
</html>