@using Site.Web.Extensions
@model Site.Web.Models.ContentTypes.FeaturedDeck

<div class="@ViewBag.CarouselItemClass">
    <a href="#"><img src="@PageExtensions.GetCardImageUrl(Model.MultiverseId)" class="img-responsive" alt="product 1"></a>
    <h4>
        <small>
            @Model.Title
        </small>
    </h4>
    <button class="btn btn-primary" type="button">@Model.CardPrice</button>
    <a href="@Model.MagicMadhouseUrl" class="btn btn-default" style="margin:0" target="_blank"><span class="glyphicon glyphicon-gbp"></span> Buy From Magic Madhouse</a>
</div>
<!-- End Item -->